<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    @RenderSection("meta", required: false)
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/themes/default/bootstrap.css" rel="stylesheet">

    @Html.Partial("_html5shiv")

</head>
<body>
    @Html.Partial("_NavBar")

    @RenderSection("featured", required: false)

    <div class="container">
        @RenderBody()
        <hr />
        <div class="footer">
            <p>&copy; Vaidas Sirtautas @DateTime.UtcNow.Year</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
