@using SmartPortal.Model
@model IEnumerable<SmartPortal.Model.Nurse>

@{
    ViewBag.Title = "Nurses";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateNurse", null, new { id = "createPerson" })
</p>
<table class="table" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pin)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.TabletId)
        </th>


        <th></th>
    </tr>
    
    <tbody id="list-of-nurses">
        @foreach (var item in Model)
    {
        @Html.Partial("_Nurse", item )
    }
    </tbody>
    

</table>

<!-- Small modal -->
<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" href="@Url.Action("CreateNurse", "Nurses")">Create nurse</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
    </div>
  </div>
</div>


@section scripts{
    <script>
        function handleError(ajaxContext) {
            var response = ajaxContext.get_response();
            var statusCode = response.get_statusCode();
            alert("Sorry, the request failed with status code " + statusCode);
        }

        $(function() {
           
        });
        

    </script>
}